.voluntarioPage {
  background-color: white;
  width: 100%;
}

.headerVoluntario {
  text-align: center;
  padding: 4rem 2rem;
  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: lowercase;
  }

  p {
    font-size: 1.1rem;
    color: #333;
  }
}

.incentivos {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.incentivoCard {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 2rem;
  flex: 1;
  min-width: 280px;
  max-width: 350px;
  text-align: center;
  background-color: #fff;
  h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #000;
  }

  p {
    font-size: 1rem;
    color: #555;
    line-height: 1.4;
  }
}

.formSection {
  background-color: #00745a;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5rem 0;
}

.formContainer {
  background-color: white;
  width: 90%;
  max-width: 850px;
  padding: 3.5rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  h2 {
    color: #00745a;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
  }
}

.formTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #00745a;
  margin-bottom: 2rem;

  img {
    width: 30px;
  }
}

.form {
  fieldset {
    border: none;
    padding: 0;
    margin-bottom: 2rem;
    legend {
      font-weight: 600;
      margin-bottom: 1rem;
      color: #333;
    }
  }
}

.inputGroup {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;

  input {
    flex: 1;
    min-width: 0;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
  }
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f9f9f9;
  &:focus {
    outline: 2px solid #00745a;
  }
}
textarea {
  height: 150px;
  resize: none;
}

.fullInput {
  margin-bottom: 1.5rem;
}

.aviso {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 0.9rem;
  color: #666;
}

.btnEnviar {
  display: block;
  width: 250px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #00745a;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  &:hover {
    background-color: #02634c;
  }
}

@media (max-width: 768px) {
  .inputGroup {
    flex-direction: column;
  }
  .incentivos {
    padding: 1rem;
  }
}
